@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    var username = User?.Identity?.Name;
    var bpmRole = "";

    if (!string.IsNullOrWhiteSpace(username))
    {


        var mapping = ASPNETIdentityPostgres.Areas.ADT.Models.WebAppAndBPMUserMap.mappings.FirstOrDefault(m => m.UserNameOnWebApp.ToLower() == username.ToLower());

        if (mapping != null)
        {
            bpmRole = mapping.UserRoleOnBPMEngineOrApp;
        }
    }
}
<!DOCTYPE html>
<html lang="dz" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASPNETIdentityPostgres</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="~/img/19197125.jpg" width="60" height="60" alt="Workflow management"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="ADT" asp-controller="Patients" asp-action="MySimpleProcesses">Emp. Evaluations (Activiti)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="ADT" asp-controller="Patients" asp-action="CamundaMyEmpEvals">Emp. Evaluations (Camunda)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="ADT" asp-controller="Patients" asp-action="MyEmpEvals">Emp. Evaluations (jBPM)</a>
                </li>
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </nav>
    
    <div class="container">
        <main role="main" class="pb-3">

            <hr />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020-2022 - ASPNETIdentityPostgres - <a asp-area="" asp-page="/Privacy">Privacy</a>&nbsp;<a href="https://www.freepik.com/vectors/business">Business vector created by vectorjuice - www.freepik.com</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
