@model ASPNETIdentityPostgres.Areas.ADT.Models.ApproveInvoicePost

@{
    ViewData["Title"] = "Approve an Invoice (Camunda BPM Engine)";

    var username = User.Identity.Name;

    var bpmRole = "";

    var mapping = ASPNETIdentityPostgres.Areas.ADT.Models.WebAppAndBPMUserMap.mappings.FirstOrDefault(m => m.UserNameOnWebApp.ToLower() == username.ToLower());

    if (mapping != null)
    {
        bpmRole = mapping.UserRoleOnBPMEngineOrApp2;
    }
}

<h3>Approve an Invoice (Camunda BPM Engine)</h3>

<div>
    @if (bpmRole == "invoice_approver")
    {

    <div class="row">
        <div class="col-md-4">
            <form asp-action="ApproveInvoiceCamunda">
                @Html.HiddenFor(model => model.taskId)
                <div asp-validation-summary="All" class="text-danger"></div>
                
                <label class="checkbox-inline">
                    <input asp-for="variables.approved.value" type="checkbox" /> Check to approve; uncheck to reject
                </label>
                <div class="form-group">
                    <input type="submit" value="Approve/Reject Invoice" class="btn btn-primary" />

                </div>
                <div class="form-group">
                    <a asp-action="MyInvoices" class="btn btn-danger" title="I do not have Camunda Engine/Platform running on my machine.">Cancel</a>
                </div>
            </form>
        </div>
    </div>
    }
</div>

