@model IEnumerable<ASPNETIdentityPostgres.Areas.ADT.Models.processinstance>

@{
    ViewData["Title"] = "My Employee Evaluations";

    var username = User.Identity.Name;

    var bpmRole = "";

    var mapping = ASPNETIdentityPostgres.Areas.ADT.Models.WebAppAndBPMUserMap.mappings.FirstOrDefault(m => m.UserNameOnWebApp.ToLower() == username.ToLower());

    if (mapping != null)
    {
        bpmRole = mapping.UserRoleOnjBPMEngineOrApp;
    }
}

<div class="modal" tabindex="-1" role="dialog" id="exampleModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">jBPM Engine must be running</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="small">This example uses jBPM RESTful API and the employee evaluation is completed start to finish using that API.</p>
                <p class="small">jBPM BPM Engine must be running for this to work. Please refer to <a href="https://jbpm.org/learn/gettingStarted.html">this page</a> and follow the simple instructions. There are links to download the jBPM BPM Platform and then work with it.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <p class="alert-danger">@ViewData["notapprovermsg"]</p>
        @if (bpmRole == "pm" && Model != null)
        {
            <p>
                <a asp-action="jBPMStartEmpVal" class="btn btn-success"><span class="glyphicon glyphicon-play-circle"></span> New Employee Evaluation</a>
            </p>
        }
        else if (bpmRole != "pm" && Model != null)
        {
            <p class="alert-danger">Please login as a@b.com (PM) to start an employee's evaluation.</p>
        }
        <div>
            @if (Model == null)
            {
                <p class="alert-danger small">jBPM BPM Engine must be running for this to work. Please refer to <a href="https://jbpm.org/learn/gettingStarted.html">this page</a> and follow the simple instructions. There are links to download the jBPM BPM Platform and then work with it.</p>
            }
            <hr />
            <h5>My Employee Evaluations</h5>
            @if (Model != null && Model.Count() == 0)
            {
                <p>All tasks have been completed. Please login as a PM (a@b.com) to start an evaluation for an employee.</p>
            }
            @if (Model != null && Model.Count() > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Initiator
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.initiator)
                                </td>

                                <td>
                                    <a asp-action="jBPMProcInstDetails" asp-route-id="@item.ProcessInstanceId">Go To Employee Evaluation</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="alert-danger">No Evaluations are active.</p>
            }
        </div>
    </div>
    <div class="col-md-2">
        <!-- Button trigger modal -->

        <button type="button" class="glyphicon glyphicon-info-sign" data-toggle="modal" data-target="#exampleModal">
        </button>
    </div>
</div>

<p>
    @*<a asp-action="LoginToBonitaSoftEngine">Login to BonitaSoft Engine</a>*@
</p>

