@page
@model IndexModel
@{
    ViewData["Title"] = "ASP.NET Core MVC Web App example that uses the various BPM Engines to demo how to invoke workflows through REST API.";
}

@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />*@

<style>
    .doc .ulist {
        margin: 1rem 0 0;
    }
</style>
<div class="container">
    <ul class="nav nav-pills">
        @*<li class="active"><a data-toggle="pill" href="#home">BonitaSoft Engine</a></li>*@
        <li class="active"><a data-toggle="pill" href="#menu1">Camunda BPM Engine</a></li>
        <li><a data-toggle="pill" href="#menu2">jBPM Demo</a></li>
        <li><a data-toggle="pill" href="#menu3">Alfresco Activiti</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane hide">
            <hr />
            <div class="row">
                <h3 class="entry-title">Starting and stepping through an example of a claims management workflow with REST API on the <b><a href="https://documentation.bonitasoft.com/bonita/2021.2/getting-started/getting-started-index">BonitaSoft Platform</a></b></h3>
                
                <a href="https://documentation.bonitasoft.com/bonita/2021.2/getting-started/getting-started-index" class="card-link">Click here to know more</a>
                <blockquote class="blockquote">
                    <p>By now, you must have your development environment (i.e. Bonita Studio/Engine) up and running on your machine/server. In that case, you are ready to start building your first Bonita Living Application. If not, please click the link above to know how to install the BonitaSoft BPM Studio and/or engine.</p>
                </blockquote>
                <blockquote class="blockquote">
                    <p>In this tutorial, we have built an example of a <strong>claims management solution</strong>. Making sure that claims are handled and answered in a timely manner by the appropriate employee(s) can be key to customer satisfaction. It is also a good fit for a process-based application that uses automation. We have, of course, drastically simplified the application in this tutorial so you can focus on learning about Bonita and not about claims management!</p>
                </blockquote>
                <blockquote class="blockquote">
                    <p>Here is an overview of process execution:</p>
                </blockquote>

            </div>
            <div class="row">
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>The process will be started by a <em>customer</em> who submits a claim, which is a simple text description in our example</p>
                    </li>
                    <li class="list-group-item">
                        <p>Next, an <em>employee</em> will review the claim and provide an answer</p>
                    </li>
                    <li class="list-group-item">
                        <p>The <em>customer</em> will be able to review the <em>employee</em>'s answer and provide a satisfaction rating</p>
                    </li>
                    <li class="list-group-item">
                        <p>If the rating is equal to or greater than 3, the process will finish after the customer has read the answer</p>
                    </li>
                    <li class="list-group-item">
                        <p>If the rating is lower than 3 an extra task will be assigned to the manager of the employee to work with this customer who is not really satisfied. The manager will be notified by email that a task Deal with unsatisfied customer requires their attention.</p>
                    </li>
                    <li class="list-group-item">
                        <p>Once this task is done the process will be completed</p>
                    </li>
                </ul>
            </div>
        </div>
        <div id="menu1" class="tab-pane active">

            <div class="row">
                <header class="col entry-header">
                    <hr />
                    <h3 class="entry-title">Starting and stepping through an Employee evaluation process with REST on the <b><a href="https://camunda.com/download">Camunda Platform</a></b></h3>
                    <p class="small"><a href="https://camunda.com/blog/2021/10/start-and-step-through-a-process-with-rest-feat-swaggerui/">Click here to know more.</a></p>
                    
                </header><!-- .entry-header -->
            </div>
        </div>
        <div id="menu2" class="tab-pane">
            <div class="row">
                <header class="col entry-header">



                    <hr />
                    <h3 class="entry-title">Starting and stepping through an example of employee evaluation process with REST (featuring SwaggerUI) on the <b><a href="https://www.jbpm.org/download/download.html">jBPM Platform</a></b></h3>

                </header><!-- .entry-header -->
            </div>


            <div class="sect1">
                <h4 id="_download_jbpm">Download jBPM</h4>
                <div class="sectionbody">
                    <div class="paragraph">
                        <p>First things first, download jBPM server distribution (if not already done) to start quickly with complete environment.</p>
                    </div>
                    <div class="ulist">
                        <ul>
                            <li>
                                <p><a href="https://download.jboss.org/jbpm/release/7.65.0.Final/jbpm-server-7.65.0.Final-dist.zip">Download jBPM 7.65.0.Final server (single zip) distribution</a></p>
                            </li>
                        </ul>
                    </div>
                    <div class="paragraph">
                        <p>Just download, unzip and run</p>
                    </div>
                    <div class="listingblock">
                        <div class="content">
                            <pre class="highlight"><code class="language-bash" data-lang="bash">jbpm-server/bin/standalone.sh     (Unix / Linux)&#x000A;&#x000A;jbpm-server/bin/standalone.bat    (Windows)</code></pre>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sect1">
                <h4 id="_explore_your_running_environment">Explore your running environment</h4>
                <div class="sectionbody">
                    <div class="paragraph">
                        <p><strong>Business Central</strong></p>
                    </div>
                    <div class="paragraph">
                        <p>Business Central provides feature rich authoring and management environment. It consists of:</p>
                    </div>
                    <div class="ulist">
                        <ul>
                            <li>
                                <p>Design perspectives where users can create projects and pages</p>
                            </li>
                            <li>
                                <p>Deploy perspectives where users can manage execution servers</p>
                            </li>
                            <li>
                                <p>Manage perspectives where users can take control over process and case instances</p>
                            </li>
                            <li>
                                <p>Track perspectives where users can access assigned tasks and reports</p>
                            </li>
                        </ul>
                    </div>
                    <div class="paragraph">
                        <p>Business Central can be accessed (once the server was started) at <a href="http://localhost:8080/business-central"><strong>http://localhost:8080/business-central</strong></a></p>
                    </div>
                    <div class="paragraph">
                        <p>There are set of predefined users that can be used to directly logon to Business Central:</p>
                    </div>
                    <div class="ulist">
                        <ul>
                            <li>
                                <p>wbadmin/wbadmin</p>
                            </li>
                            <li>
                                <p>krisv/krisv</p>
                            </li>
                            <li>
                                <p>john/john</p>
                            </li>
                            <li>
                                <p>mary/mary</p>
                            </li>
                            <li>
                                <p>katy/katy</p>
                            </li>
                            <li>
                                <p>jack/jack</p>
                            </li>
                            <li>
                                <p>kieserver/kieserver1!</p>
                            </li>
                        </ul>
                    </div>
                    <div class="paragraph">
                        <p>Additional users can be created via Business Central Admin section.</p>
                    </div>
                    <hr>
                    <div class="paragraph">
                        <p><strong>KIE Server Swagger documentation</strong></p>
                    </div>
                    <div class="paragraph">
                        <p>KIE Server is the execution server that provides various capabilities</p>
                    </div>
                    <div class="ulist">
                        <ul>
                            <li>
                                <p>BRM (business rules)</p>
                            </li>
                            <li>
                                <p>BPM (business processes)</p>
                            </li>
                            <li>
                                <p>BRP (planning/solver)</p>
                            </li>
                            <li>
                                <p>Case Management</p>
                            </li>
                            <li>
                                <p>DMN (decisions)</p>
                            </li>
                        </ul>
                    </div>
                    <div class="paragraph">
                        <p>Its complete REST api documentation can be accessed at <a href="http://localhost:8080/kie-server/docs"><strong>http://localhost:8080/kie-server/docs</strong></a></p>
                    </div>
                    <hr>
                    <div class="paragraph">
                        <p><strong>jBPM Case Management Showcase</strong></p>
                    </div>
                    <div class="paragraph">
                        <p>
                            jBPM Case Management Showcase is a web application that aims at illustrating various case management building blocks in action. These
                            are UI components built on top of KIE Server REST api for case management. It&#8217;s not intended for production usage but more for getting better
                            understanding of the capabilities.
                            Case management, in general should be business focused so generic UI won&#8217;t provide much business context to the knowledge workers.
                        </p>
                    </div>
                    <div class="paragraph">
                        <p>jBPM Case Management application can be accessed at <a href="http://localhost:8080/jbpm-casemgmt"><strong>http://localhost:8080/jbpm-casemgmt</strong></a></p>
                    </div>
                    <div class="paragraph">
                        <p>Same users as for Business Central can be used to logon to this application.</p>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="sect1">
                <h4 id="_try_examples">Try examples</h4>
                <div class="sectionbody">
                    <div class="paragraph">
                        <p>
                            Once you get yourself familiar with the tools of the jBPM it&#8217;s time to see something running. The easiest way is to try one of the examples
                            shipped with the platform, it will show typical path users take to design, build and execute business logic.
                        </p>
                    </div>
                    <div class="sect2">
                        <h4 id="_evaluation_process">Evaluation process</h4>
                        <table class="tableblock frame-none grid-all stretch">
                            <colgroup>
                                <col style="width: 66.6666%;">
                                <col style="width: 33.3334%;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td class="tableblock halign-left valign-top">
                                        <div class="content">
                                            <div class="paragraph">
                                                <p>
                                                    Evaluation process is a business process that is human centric (heavily uses human actors to perform work) that defines a complete flow of
                                                    activities to perform employee evaluation. This examples shows:
                                                </p>
                                            </div>
                                            <div class="ulist">
                                                <ul>
                                                    <li>
                                                        <p>importing example project</p>
                                                    </li>
                                                    <li>
                                                        <p>building and deploying project</p>
                                                    </li>
                                                    <li>
                                                        <p>verifying deployment to execution server</p>
                                                    </li>
                                                    <li>
                                                        <p>executing process instance and work with human tasks</p>
                                                    </li>
                                                    <li>
                                                        <p>exploring reporting capabilities</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="tableblock halign-left valign-top">
                                        <div class="content">
                                            <div class="videoblock">
                                                <div class="content">
                                                    <iframe src="https://www.youtube.com/embed/-fxL2iioPRI?rel=0" frameborder="0" allowfullscreen></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <p class="alert-danger small">The content above has been taken from <a href="https://www.jbpm.org/learn/gettingStarted.html">this web page.</a> &copy; 2006 -2022 RedHat, Inc. and others. It is taken here for illustrative purposes only and to allow users to see how our ASP.NET Core MVC Web app interacts with the jBPM engine through REST API to start and finish <b>Employee evaluation</b> process.</p>
        </div>
        <div id="menu3" class="tab-pane">
            <hr />
            <div class="row">
                <h3>Starting and stepping through a simple Employee Evaluation process using Activiti REST API.</h3>
                <div class="paragraph">
                    <p>
                        This example uses Alfresco Activiti RESTful API and an example employee evaluation process is completed start to finish using that API.

                        Alfresco Activiti must be running for this to work. Please refer to <a href="https://www.activiti.org/userguide/">this page</a> and follow the simple instructions. There are links to download the Activiti Web apps (WARs) and then deploy them in Apache Tomcat. 
                    </p>
                </div>
                <div class="paragraph">
                    <p>
                        Please refer to <a href="https://www.activiti.org/userguide/#_rest_api">Alfresco Activiti User Guide </a>to know more on usage of REST API.
                    </p>
                </div>
            </div>


        </div>
    </div>
</div>




